@charset 'UTF-8';

// @import "bootstrap4/bootstrap.scss";
// 1. Configuration and helpers
// @import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors
// @import "vendor/normalize", "vendor/wp-core";

// 3. Base stuff
// @import "base/base", "base/fonts", "base/typography", "base/helpers";
// @import "vendor/slick";

// 4. Layout-related sections
// @import "layout/header", "layout/footer";
// @import "layout/home";

// 5. Components
// @import "components/button", "components/hamburger";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html,
body {
  width: 210mm;
  height: 297mm;
  font-family: "Open Sans", sans-serif;
  color: #154061;
  margin: 0 auto;
}
.page {
  height: 100vh;
  position: relative;
  border: 1px solid;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__content {
    padding: 23px 39px;
    &--title {
      font-size: 16pt;
      color: #154061;
      font-weight: bold;
      margin: 0 0 26px;
    }
    .aaa_title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 38pt;
      color: #01a5e3;
      display: block;
      line-height: 1;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px 18px;
    &--logo {
      margin-right: 20px;
      max-width: 35px;
      width: 100%;
    }
    & > div {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      &:nth-child(2) {
        justify-content: flex-end;
        span {
          margin-left: 10px;
          display: inline-block;
          color: #03a5e3;
          position: relative;
          &:nth-child(2) {
            &:before {
              position: absolute;
              content: "";
              left: -5px;
              width: 1px;
              top: 1px;
              bottom: 1px;
              background: #ccc;
            }
          }
        }
      }
    }
    p {
      color: #7c7c7c;
      margin: 0;
      font-size: 8pt;
      letter-spacing: -0.1px;
    }
  }
  .score_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 28px 0 42px;
    .graph {
      width: 60%;
      &--header {
        margin-bottom: 50px;
      }
      h3 {
        margin: 0;
        font-size: 16pt;
        letter-spacing: -0.2px;
        color: #154061;
      }
      p {
        color: #7c7c7c;
        font-size: 14pt;
        margin: 6px 0 13px;
      }
      img {
        width: 100%;
      }
    }
    .info {
      width: 27%;
      h2 {
        margin: 50px 0 20px;
        font-size: 34pt;
      }
      .payment_block {
        height: 190px;
        position: relative;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .payment_level {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 10px;
          border-radius: 10px;
          background: #f6f6f6;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          & > div {
            width: 100%;
            border-radius: inherit;
            background: linear-gradient(to top, #37c563, #afe4c0);
          }
        }
        span {
          strong {
            display: block;
          }
        }
      }
      ul {
        margin: 70px 0 0;
        padding: 0;
        li {
          list-style: none;
          font-size: 14pt;
          letter-spacing: -0.8px;
          line-height: 1.2;
          margin-bottom: 22px;
          span {
            font-weight: bold;
            display: block;
            font-size: 16pt;
            margin-top: 5px;
          }
        }
      }
    }
  }

  table {
    width: 100%;
    margin-bottom: 30px;
    &.general_table {
      border: none;
      thead {
        background: #154061;
      }
      &.light_blue {
        thead {
          background: #03a5e3;
        }
      }
      tr {
        td {
          font-size: 8pt;
          &.up,
          &.down {
            img {
              width: 5px;
              position: relative;
              top: 2px;
            }
          }
          &.up {
            color: #2bc65c;
          }
          &.down {
            color: #e12f2e;
          }
        }
      }
      thead {
        tr {
          td {
            padding: 10px;
            color: #fff;
            font-weight: bold;
          }
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            td {
              background: #f3fafd;
            }
          }
          &:last-child {
            td {
              border-bottom: 2px solid #03a5e3;
            }
          }
          td {
            padding: 8px 11px 10px;
            &:first-child {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
hr {
  border-color: #03a5e3;
}
.page_1 {
  background: #154061;
  display: flex;
  align-items: center;
  .logo {
    position: absolute;
    top: 87px;
    right: 70px;
    max-width: 240px;
  }
  &--content {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    h1 {
      font-weight: bold;
      color: #fff;
      font-size: 36pt;
      letter-spacing: -0.5px;
      line-height: 1.25;
      margin: 0 0 30px;
      span {
        font-weight: 300;
      }
    }
    ul {
      margin: 0;
      padding: 36px 0;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 1px;
        width: 15px;
        background: #fff;
      }
      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 1px;
        width: 15px;
        background: #fff;
      }
      li {
        list-style: none;
        color: #fff;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        h6 {
          font-size: 12pt;
          font-weight: bold;
          margin: 0;
        }
        span {
          font-size: 12pt;
          display: block;
          font-weight: normal;
          letter-spacing: -0.2px;
        }
      }
    }
  }
  .page__footer p {
    color: #fff;
  }
}

.page_2 {
  .aaa {
    width: 100%;
    max-width: 100px;
  }
  .page__content {
    p {
      color: #7c7c7c;
      font-size: 15pt;
      letter-spacing: -0.85px;
    }
  }
}
