// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 54px 0 10px;
  background: #fff;
  transition: $time;
  @media (max-width: $medium) {
    padding: 20px 0 10px;
  }
  @media (max-width: $xsmall) {
    padding-bottom: 10px;
  }
  &.small_header {
    padding: 17px 0;
    @media (max-width: $medium) {
      padding: 20px 0 10px;
    }
    .header__logo {
      max-width: 200px;
      @media (max-width: $xsmall) {
        max-width: 150px;
      }
    }
  }
  .flex {
    justify-content: space-between;
  }
  &__logo {
    max-width: 271px;
    width: 100%;
    display: inline-block;
    transition: $time;
    @media (max-width: $large) {
      max-width: 250px;
    }
    @media (max-width: $medium) {
      max-width: 200px;
    }
    @media (max-width: $xsmall) {
      max-width: 150px;
    }
    img {
      width: 100%;
    }
  }
  &__nav {
    padding-left: 10px;
    @media (max-width: $small) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      width: 280px;
      width: 280px;
      padding: 90px 20px 0;
      background: #fff;
      text-align: right;
      box-shadow: 10px 0px 20px 0px #000;
      transform: translateX(120%);
      transition: $time;
      @include when-inside(".header.is-opened") {
        transform: translateX(0%);
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @media (min-width: $min_small) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
      }
      li {
        margin-left: 29px;
        @media (max-width: $small) {
          margin: 0 0 15px;
        }
        a {
          font-size: 16px;
          font-weight: 600;
          @media (max-width: $small) {
            font-size: 20px;
          }
          &:hover {
            text-decoration: none;
            color: $dark;
          }
        }
      }
    }
  }
}
