.home_banner {
  min-height: 750px;
  padding: 124px 0 50px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (max-width: $medium) {
    padding: 130px 0 80px;
    min-height: 0;
  }
  @media (max-width: $small) {
    padding-bottom: 65px;
  }
  @media (max-width: $xsmall) {
    padding-bottom: 50px;
  }
  .row {
    & > div {
      position: relative;
    }
  }
  &--caption {
    max-width: 520px;
    position: relative;
    z-index: 2;
    @media (max-width: $medium) {
      text-align: center;
      max-width: 100%;
    }
    h1 {
      color: $dark;
      margin-bottom: 20px;
      margin-bottom: 27px;
    }
    p {
      font-size: 20px;
      line-height: 1.5;
      @media (max-width: $small) {
        font-size: 18px;
      }
      @media (max-width: $xsmall) {
        font-size: 16px;
      }
    }
  }
  .img_block {
    @media (min-width: $min_medium) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -185px;
      left: -90px;
      @media (max-width: $xlarge) {
        right: -125px;
      }
      @media (max-width: $large) {
        right: -55px;
      }
    }
    img {
      @media (max-width: $medium) {
        margin: -50px 0 -20px;
        display: inline-block;
      }
      @media (max-width: $xsmall) {
        margin: -20px 0 0;
      }
    }
  }
  .download_btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 55px;
    @media (max-width: $medium) {
      justify-content: center;
      margin-top: 0;
    }
    a {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 25px;
        @media (max-width: $large) {
          margin-right: 10px;
        }
        @media (max-width: $medium) {
          margin-right: 5px;
        }
      }
      @media (max-width: $medium) {
        margin: 5px;
      }
      img {
        @media (max-width: $xsmall) {
          max-height: 37px;
        }
      }
    }
  }
}

.features_section {
  background: #f5f8fb;
  padding: 90px 0 66px;
  @media (max-width: $medium) {
    padding: 80px 0 60px;
  }
  @media (max-width: $small) {
    padding: 70px 0 45px;
  }
  @media (max-width: $xsmall) {
    padding: 60px 0 35px;
  }
}
.feature_block {
  margin-bottom: 63px;
  max-width: 318px;
  @media (max-width: 575px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &--icon {
    width: 72px;
    height: 72px;
    margin: 0 0 20px;
    background: $light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 575px) {
      margin-left: auto;
      margin-right: auto;
    }
    img {
      object-fit: contain;
      // width: 100%;
      // height: 100%;
    }
  }
  &--title {
    color: #143e5f;
    margin-bottom: 13px;
  }
}

.track_slider {
  &__section {
    background: #143e5f;
    padding: 73px 0 40px;
    @media (max-width: $small) {
      padding-top: 60px;
    }
    @media (max-width: $xsmall) {
      padding-top: 50px;
    }
    .caption {
      margin: 0 auto 50px;
      text-align: center;
      max-width: 500px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #fff;
        font-weight: normal;
        margin-bottom: 23px;
      }
      p {
        font-size: 20px;
        color: #fff;
        line-height: 1.6;
        @media (max-width: $small) {
          font-size: 18px;
        }
        @media (max-width: $xsmall) {
          font-size: 16px;
        }
      }
    }
  }
  .slick-dots {
    margin: 43px 0 0;
    text-align: center;
    font-size: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    li {
      display: inline-block;
      margin: 0 4px;
      button {
        font-size: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        cursor: pointer;
        transition: $time;
        outline: none;
        border: 1px solid #00a6e4;
        background: transparent;
      }
      &.slick-active {
        button {
          background: #00a6e4;
        }
      }
    }
    &:hover {
      li {
        button {
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
  .track_slide {
    outline: none;
    text-align: center;
    img {
      display: inline-block;
    }
  }
}

.simple_content_sect {
  padding: 8px 0;
  @media (max-width: $medium) {
    padding-bottom: 80px;
  }
  @media (max-width: $small) {
    padding-bottom: 60px;
  }
  @media (max-width: $xsmall) {
    padding-bottom: 50px;
  }
  .img_block {
    @media (min-width: $xlarge) {
      transform: translateX(-68px);
    }
    img {
      display: inline-block;
    }
  }
  .content_block {
    padding: 40px 0 60px;
    @media (min-width: $xlarge) {
      transform: translateX(-23px);
    }
    @media (max-width: $medium) {
      padding: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark_blue;
    margin-bottom: 45px;
    @media (max-width: $medium) {
      margin-bottom: 35px;
    }
    @media (max-width: $small) {
      margin-bottom: 25px;
    }
    @media (max-width: $xsmall) {
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 56px;
    @media (max-width: $xlarge) {
      font-size: 52px;
    }
    @media (max-width: $large) {
      font-size: 46px;
    }
    @media (max-width: $medium) {
      font-size: 40px;
    }
    @media (max-width: $small) {
      font-size: 36px;
    }
    @media (max-width: $xsmall) {
      font-size: 30px;
    }
  }
  p {
    font-size: 18px;
    @media (max-width: $xsmall) {
      font-size: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 24px;
      @media (max-width: $xsmall) {
        margin-bottom: 16px;
      }
    }
  }
}

.info_section {
  background: $primary;
  padding: 112px 0 89px;
  color: #fff;
  @media (max-width: $medium) {
    padding: 85px 0;
  }
  @media (max-width: $small) {
    padding: 70px 0;
  }
  @media (max-width: $xsmall) {
    padding: 50px 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  .download_btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
    a {
      display: inline-block;
      margin: 5px 13px;
      @media (max-width: $small) {
        margin: 5px;
      }
      img {
        @media (max-width: $xsmall) {
          max-height: 37px;
        }
      }
    }
  }
}
